services:
  frontend:
    build: { context: ./frontend }
    container_name: sarawak_agri_frontend
    restart: unless-stopped
    ports: ["8080:80"]
  backend:
    build: { context: . }
    container_name: sarawak_agri_backend
    restart: unless-stopped
    ports: ["8000:8000"]
    volumes: ["./app:/app/app"] # 允许代码热更新
    depends_on: [db, redis, mail]
    env_file: [.env]
  db:
    image: mysql:8.0
    container_name: sarawak_agri_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports: ["3307:3306"]
    volumes: [mysql_data:/var/lib/mysql]
  redis:
    image: redis:7-alpine
    container_name: sarawak_agri_redis
    restart: unless-stopped
  mail:
    build: { context: ./mail_service }
    container_name: sarawak_agri_mail
    restart: unless-stopped
  worker:
    build: { context: . }
    container_name: sarawak_agri_worker
    command: celery -A app.background_tasks.celery_app worker --loglevel=info
    volumes: ["./app:/app/app"] # 允许代码热更新
    depends_on: [redis, backend]
    restart: unless-stopped
    env_file: [.env]
volumes:
  mysql_data: